<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
  <h2>Lista de usuários</h2><br>
  <h4>Bem vindo {{usuarioLogado.nome}}</h4>
  <div class="table-container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listaUsuarios" >
          <td>{{usuario.nome}}</td>
          <td>{{usuario.login}}</td>
          <td><button class="btn btn-primary"(click)="alterarUsuario( usuario )" [disabled]="usuarioLogado.role !== 'ADMIN'">Editar</button></td>
          <td><button class="btn btn-danger" (click)="deletarUsuario(usuario)" [disabled]="usuarioLogado.role !== 'ADMIN'">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="usuarioLogado.role === 'ADMIN'">
    <hr/>
    <div [formGroup]="formUsuario">
      <input formControlName="nomeForm" class="form-control" type="text" name="nome"  placeholder="Nome"  (ngModelChange)="verificarFormulario()"/>
      <input formControlName="emailForm" class="form-control" type="text" name="email" placeholder="Email" (ngModelChange)="verificarFormulario()" [inputMask]="emailInputMask"/>
      <select class="form-control" formControlName="perfilForm" (ngModelChange)="verificarFormulario()">
        <option value="">Selecione o perfil do usuário</option>
        <option *ngFor="let perfil of perfis" [ngValue]="perfil.role">{{perfil.nomePerfil}}</option>
      </select>
      <input formControlName="senhaForm" class="form-control" type="password" name="senha" placeholder="Senha" (ngModelChange)="verificarFormulario()"/>
      <br>
    </div>
    <button class="btn btn-success btn-block" (click)="adicionarUsuario( )" [disabled]="desabilitarBotaoIncluir">{{labelBotaoSalvarAlterar}}</button><br>
  </div>
  <a (click)="fazerLogout()"><h4>Sair</h4></a>
</div>


<div class="overlay" *ngIf="showModalConfirmacao">
  <app-confirmation-dialog
    [messageTitulo]="messageTitulo"
    [acaoExecutar]="acaoExecutar"
    (showModalConfirmacao)="calcel($event)"
    (executarAcao)="acaoNecessaria($event)">
  </app-confirmation-dialog>
</div>
